DEBUG=true

POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=fastapi_project

DATABASE_URL=postgresql+asyncpg://app:app@localhost:5432/fastapi_project

JWT_SECRET=your_secret_token
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRES_IN_MINUTES=15
REFRESH_TOKEN_EXPIRES_IN_DAYS=7